
/*******************************************
				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
	padding:0;
	margin: 0;
}

body{
	width: 100%;
	padding: 2.5%;
	background-color: #a0d8c0;
}

h1{
	font-size: 0.25rem;
	color: #a0d8c0;
	position: absolute;
	width: 1px;
}

h2{
	font-family: sans-serif;
	font-weight: 100;
	width: 50%;
	float: right;
}

p{
	clear: both;
	margin: 1rem 0;
	padding: 0 5%;
}

/*******************************************
				Layout
*******************************************/
.wrapper{
	position: relative;
}
.masthead{
	
}

#travelForm {
	padding: 0 5%;
}

.main{
	
}

.clouds {
	width: 100%;
	height: 5rem;
	background: url(../img/sky.svg) no-repeat center center;
}

.city {
	width: 100%;
	height: 5rem;
	background: url(../img/city.svg) center center;
	background-repeat: repeat-x;
}

.foot{
	
}

/*******************************************
				Form Icons
*******************************************/

#travelForm .fa {
	width: 50px;
	height: 50px;
	font-size: 1.75rem;
	color: rgba(255,255,255,0.8);
	background-color: #ff5b45;
	border-radius: 0.25rem;
	padding: 14px;
}
/*******************************************
				Form Styles
*******************************************/
.formBox{
	
}

.buttons{
	
}

label{
	
}

input {
	border: none;
	float: left;
	width: 80%;
	height: 1.5rem;
	padding: 0 2.5%;
}

input[type=text],
input[type=number],
input[type=date]{
	
}

input[type=submit],
input[type=reset]{
	
}

#num_adults_select {
	width: 80%;
	float: left;
}

.budget, .price {
	font-family: sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	padding: 0;
	margin: 1rem 0 0.5rem;
}

.price {
	font-size: 1.25rem;
}

.sliderUI {
	margin-bottom: 0.75rem;
}

#btnReset, #btnSubmit {
	width: 100%;
	height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 1.75rem;
	color: rgba(255,255,255,0.8);
	background-color: #ff5b45;
	border-radius: 0.25rem;
}

@media screen and (min-width: 500px){

.formBox {
	width: 50%;
	float: left;
}

#num_adults_select {
	width: 90%;
}

#btnReset, #btnSubmit{
	width: 50%;
	margin-bottom: 0;	
}
}

@media screen and (min-width: 780px){
	
.formBox {
	width: 25%
}

input {
	width: 70%;
}

#num_adults_select {
	width: 92.5%;
}
}
/*******************************************
				Image Styles
*******************************************/

.logo {
	width: 50%;
	height: 10rem;
	margin-top: -3.5rem;
	background: url(../img/logo.svg) no-repeat center center;
	float: left;
}

@media screen and (min-width: 780px){

.logo {
	width: 20%;
}
}